.bg-y {
  background-color: yellow;
}

.bg-o {
  background-color: orange;
}
.bg-r {
  background-color: red;
}
.pr-1 {
  padding-right: 10px;
}
.m-1 {
  margin: 10px;
}
.fixed {
  top: 0px;
  /* position: absolute; */
}
.job-item {
  border-radius: 15px;
  background-color: #2c364c;
  color: white;
}
.link {
  color: #121212;
}
